.login-Component {
}
.signup-card {
  margin-top: 10%;
}
.signup-button {
  width: 100%;
}
.login {
  text-align: center;
}
.Fleet-management-app {
  margin-top: 10px;
}
.gap {
  height: 50px;
}

.Forget-Password-template-grid {
  width: 55%;
  margin-top: 5%;
  margin-left: 1%;
  border-radius: 5px;
}
.login-card {
  margin: 10%;
  margin-top: 10%;
}
.lock-logo {
}
.logo {
  width: 50%;
  border-radius: 10px;
  background-color: rgba(0, 136, 204, 0.123);
}

.signUp-split-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .signUp-split-screen-image-container {
    width: 5%;
  }

  .signUp-split-screen-title {
    margin: 10px;
  }

  .signUp-split-screen-subtitle {
    color: blue;
    font-size: medium;
  }

  .signUp-split-screen-content {
    width: 40%;
    margin: 20px;

    .signUp-split-screen-card-container {
      display: flex;
      justify-content: center;

      .signUp-split-screen-card {
        cursor: pointer;
        box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
        border-radius: 10px;
        text-align: center;
        width: 90%;
        height: 200px;

        .card-image-container {
          width: 100%;
          height: 120px;
        }

        .card-text {
          margin: 10px;
        }
      }
    }
  }

  .signUp-split-screen-login {
    color: blue;
    cursor: pointer;
  }
}
