
{"plugins":[
    
        "module-resolver",
        {
           "root": ["./src/"],
            "alias": {
                "organisms": "./src/components/organisms",
            },
        },
    
]
}

