.master-template-large-card {
  width: 100%;

  .ant-pagination {
    position: absolute;
    bottom: 0%;
    right: 0%;
  }

  .master-template-large-card-header {
    height: 12%;
  }

.master-template-small-card {
    .ant-pagination {
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
}

  .master-template-large-card-content {
    height: 88%;
  }
}
