.master-header {
    height: 60px;
    margin-bottom: 20px;
}

.master-header-addButton {
    text-align: center;
}

.master-header-search {
    border-radius: 30px;
    width: 400px;
}

.master-header-count {
    margin: 10px 5px;
}