.large-card {
    border-radius: 10px;
    line-height: 0.5;
    margin: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
    .ant-card-body {
        padding: 20px;
    }
}

.large-card:hover {
    background-color: rgba(170, 238, 255, 0.151);
}



.large-card-button {
    text-align: right;
    
    Button {
        margin-left: 15px;
    }
}

.large-card-name {
    cursor: pointer;
    margin-right: 20px;
}

.large-card-data {
    padding: 15px 0;
}