.large-card {
    border-radius: 10px;
    line-height: 0.5;
    margin: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

.large-card:hover {
    background-color: rgba(170, 238, 255, 0.151);
}



.large-card-button {
    text-align: right;
    Button {
        margin: 0 8px;
    }
}

.large-card-name {
    cursor: pointer;
}


.small-card{
    width:100%;
    margin: 0px;
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
    .ant-card-body {
        padding: 5px;
    }
    ;
}
.main-row{
    display: flex;
    flex-direction: row;
    margin: 0px;

   
}
.sub-content{
    display: flex;
    flex-direction: column;
}
#components-grid-demo-flex-align [class~='ant-row'] {
    background: rgba(128, 128, 128, 0.08);
  }
  .test {
    text-align: right;
  }
  .actions{
   
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    padding-top: 1px;
   
   
    text-align: right;
    Button {
        margin-left: 15px;
    }
  }
  .vehicles{
   display: flex;
   flex-direction: column;
   justify-content:flex-end;
   
  }
  .content-3{
    justify-content:right;
    display: flex;
   flex-direction: column;
   
  }
  .number-of-vehicles{
    text-align: right;
    padding-right: 10px;
  
   
  }
  .content-2-item{
    margin-left: 5px;
  }
  .number{
padding-top: 0px;

  }
.admin-name{
  padding-top: 22px; 
}