.small-card{
    width: 50%;
    border-radius: 10px;

   
}
.content-one{
 
}
.content-two{
    margin-top: 10px;
    align-content: center;
    text-align: right;
}
.content-three{
    margin-top: 10px;
  
    align-content:center;
    text-align: right;
}
.ant-card-body{
    padding: 15px;
}