#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 32px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
/* .layout {
    display: flex;
    flex-direction: row;
} */

.sidebar-header-logo {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 20px;
}
