#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 32px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {

}
/* .layout {
    display: flex;
    flex-direction: row;
} */

.sidebar-header-logo {
  height: 50px;
  width: 50px;
  text-align: center;
  margin-top: 25px;
 
}
.user-profile {
  margin: 80px 25px 25px 25px;
  position: relative;
  vertical-align: bottom;
  cursor: pointer;
}
.sub-module-list{
width: 160px;
padding-top: 20px;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
margin-right: 10px;
margin-top: 0px;
margin-left: 110px;

}

.list{
  height: 40px;
  width: 150px;
  text-align: left;
  display:block;
  cursor: pointer;
  margin: 10px 0 10px 0;
  border: 0;
  transition-duration: 0.6s;

}

.list:focus{
color:blue;
background-color: lightblue;
border-right: 3px solid blue;
}

.list:hover{
  color:blue ;
  }

.mark{
    height:50px;
    width:10px;
    color:red
  }

  