.filter-container{
    height:80px;
    // border:1px solid red
    
}
.toggle{
    margin-left: 25%;
}
.button-group{
    display:"flex";
    flex-direction: column;
   

}
.selectOptions{
    
    margin:15%;
    border-radius: 10px;
    background-color: rgba(223, 208, 208, 0.445);
}
.btn{
    margin-bottom: 10px;
    border-radius: 5px;
    
}
.space1{
    width:100px ;
}
.space2{
    width:100px ;
}